amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
billiard==3.3.0.23
celery==3.1.25
Django==1.10.6
django-celery==3.2.1
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.1
greenlet==0.4.12
kombu==3.0.37
numpy==1.12.0
packaging==16.8
pyparsing==2.2.0
pytz==2016.10
scipy==0.18.1
six==1.10.0
vine==1.1.3

